/.gem_rbs_collection/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/.rbnext/
.aider*
.env
drawings
drawings
spec/fixtures/autocad.log
spec/fixtures/event_handler.log
event_handler.log
